$bg-color: #fff;
$color-text: #444;
$color-title: #111;
$color-meta: #888;
$link-color: #337ab7;
$link-hover: #175081;
$fig-height: 45em;

$SanFrancisco: -apple-system, BlinkMacSystemFont, YakuHanJP,
  'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
$SourceSansPro: 'Source Sans Pro', sans-serif;

// min-width
$breakpoint-up: (
  'sm': 'screen and (min-width:640px)',
  'lmd': 'screen and (min-width:768px)',
  'lg': 'screen and (min-width:1024px)'
) !default;

// max-width
$breakpoint-down: (
  'md': 'screen and (max-width:767px)'
) !default;

// @mixin
@mixin mq-up($breakpoint: md) {
  @media #{map-get($breakpoint-up, $breakpoint)} {
    @content;
  }
}

@mixin mq-down($breakpoint: md) {
  @media #{map-get($breakpoint-down, $breakpoint)} {
    @content;
  }
}
