@import "normalize";
@import "variables";

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: $fg_0;
  font-size: 1.8rem;
  font-family: $BodyFont;
  line-height: 1.50;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  font-family: $HeaderFont;
  color: $fg_1;
}

h1 {
  font-size: 3.4rem;
}

h2 {
  font-size: 3.0rem;
}

h3 {
  font-size: 2.6rem;
}

h4 {
  font-size: 2.4rem;
}

h5 {
  font-size: 2.0rem;
}

h6 {
  font-size: 1.8rem;
}

p {
  font-size: 1.8rem;
}

summary {
  font-size: 1.8rem;
  font-weight: bold;
}

a {
  color: $blue;
  text-decoration: none;

  &:hover {
    color: $br_blue;
  }
}

ul {
  & li {
    list-style: disc;
  }
}

ol {
  & li {
    list-style: decimal;
  }
}

li {
  font-size: 1.8rem;
}

dt {
  margin-top: 16px;
  font-size: 1.8rem;
}

dd {
  margin: 8px 0 0 20px;
  font-size: 1.8rem;
}

pre {
  display: block;
  padding: 12px;
  border-radius: 3px;
  font-size: 1.2rem;
  word-wrap: break-word;
  overflow: auto;
}

code {
  line-height: 1.8;
  font-size: 1.6rem;
}

table {
  margin: 15px 0;
  border-collapse: collapse;
  width: auto;
  padding: 0;
}

table> :is(thead, tbody)>tr> :is(th, td) {
  padding: 2px 4px;
}

table>thead>tr> :is(th, td) {
  background-color: $bg_2;
  color: $fg_1;
  border-top: 2px solid;
  border-bottom: 1px solid;
}

table>tbody>tr:last-child> :is(th, td) {
  border-bottom: 2px solid;
}

table tr {
  background-color: $bg_0;
  margin: 0;
}

table tr:nth-child(2n) {
  background-color: $bg_1;
}

del {
  color: $dim_0;
}

blockquote {
  margin: 0;
  padding: 8px 12px;
  border-left: 3px solid #ccc;

  & * {
    margin: 0;
  }

  color: $dim_0;
}

img {
  max-width: 100%;
  height: auto;
}

.toc {
  border-radius: 15px;
  border: 1px solid $bg-2;
  padding: 1rem 1.5rem;
  margin: 1rem 0rem;
}

.toc ul {
  margin: 0;
}

@import "footer";
@import "header";
@import "main";
@import "nav";
@import "object/component/anchor";
@import "object/component/article";
@import "object/component/equation";
@import "object/component/figure";
@import "object/component/links";
@import "object/component/pagination";
@import "object/component/tag";
@import "object/component/time";
@import "object/component/title";
@import "object/project/article";
@import "object/project/author";
@import "object/project/copyright";
@import "object/project/list-article";
@import "object/project/menu";
@import "object/project/notfound";
@import "object/project/pagination";
@import "object/project/related";
@import "object/project/screen-reader-text";
@import "object/project/subtitle";
@import "object/project/tag-title";
@import "object/project/title";
@import "object/utility/align";
@import "object/utility/display";
@import "fontawesome/fontawesome";