{% extends "index.html" %}
{% import "post_macros.html" as post_macros %}

{% block title -%}
<title>{{page.title}} | {{config.title}}</title>
<meta property="og:title" content="{{page.title}} | {{config.title}}" />
<meta name="twitter:title" content="{{page.title}} | {{config.title}}" />
{%- endblock title %}

{% block content %}
<article class="p-article">
    <header>
        <h1>{{ page.title }}</h1>
        <div>
            <div class="c-time">

                <time datetime="{{ page.date | date(format="%F") | safe }}">
                    {{ page.date | date(format="%F") }}
                </time>
                {% if page.extra.author -%}
                  by {{ page.extra.author}}
                {%- endif %}
                {{ " - " }}({{ page.reading_time }} min read)
            </div>
        </div>
    </header>
    {% if page.toc and page.extra.toc -%}
    <div class="post-toc" id="post-toc">
        <h2 class="post-toc-title">Contents</h2>
        <div class="post-toc-content always-active">
            <nav id="TableOfContents">
                <ul>
                    {% for h1 in page.toc %}
                    <li>
                        <a href="{{h1.permalink | safe}}" class="toc-link">{{ post_macros::polish(content=h1.title) }}</a>
                        {% if h1.children %}
                        <ul>
                            {% for h2 in h1.children %}
                            <li>
                                <a href="{{h2.permalink | safe}}" class="toc-link">{{ post_macros::polish(content=h2.title) }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
    {%- endif %}
    <section id="js-article" class="p-article__body">
        {{ post_macros::polish(content=page.content) }}
    </section>
    <footer>
        <nav class="c-pagination p-pagination">
            <div class="c-pagination__ctrl">
                <div class="c-pagination__newer">
                    {% if page.later -%}
                    <a href="{{ page.later.permalink }}">{{ page.later.title }}</a>
                    {%- endif %}
                </div>
                <div class="c-pagination__older">
                    {% if page.earlier -%}
                    <a href="{{ page.earlier.permalink }}">{{ page.earlier.title }}</a>
                    {%- endif %}
                </div>
            </div>
        </nav>
    </footer>
</article>
{%- endblock content %}
