{% macro title(page) %}
    <header>
        <h2 class="c-title c-article__title"><a href="{{ page.permalink }}">{{ page.title | markdown | striptags | safe }}</a></h2>
        <p class="c-article__meta">
            <time datetime="{{ page.date | date(format="%F") | safe }}">
                {{ page.date | date(format="%F") }}
            </time>
            {% if page.extra.author -%}
              by {{ page.extra.author }}
            {%- endif %}
            {{ " - " }}({{ page.reading_time }} min read)
        </p>
    </header>
{% endmacro title %}
