@import "../../variables";

figure {
    img {
        text-align: center;
        margin-bottom: -0.20rem;
        max-height: $fig-height;
        max-width: 100%;
        margin: auto;
        display: block;
        width: auto;
        height: auto;
    }

    figcaption {
        text-align: center;
        font-style: italic;
    }
}
